<h1>All The Wikis</h1>
<p><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %></p>

<table style = "width:100%">
  <tr>
    <td><% @wikis.each do |wiki| %></td>
  </tr>

  <tr>
    <td>
      <div class="media">
      <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.name, wiki_path(wiki) %>
      </h4>
      <small>
        created <%= time_ago_in_words(wiki.created_at) %> by <%= wiki.user.name %>
      </small>
    </td>
  
  
    <td>
    
    
    </td>
    </tr>
      </div>
      </div>
      <% end %>
</table>

<%= will_paginate @wikis %>








